{% extends "layout.html" %} {% block content %}

<div class="card mb-4">
  <div class="card-body">
    <form action="summarization" enctype="multipart/form-data" method="POST">
      <div class="form-group">
        <label for="document"><b>Select Document</b></label>

        <div class="input-group">
          <div class="custom-file">
            <input
              type="file"
              name="document"
              class="custom-file-input"
              id="document"
            />

            <label class="custom-file-label" for="document">Choose file</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="summaryLength"><b>Summary Length</b></label>
        <select name="summaryLength" class="form-control" id="summaryLength">
          <option value="0.2">20%</option>
          <option value="0.3">30%</option>
          <option value="0.4">40%</option>
          <option value="0.5">50%</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
  </div>
</div>

{% endblock content %} {% block sidebar %}
<p><b>Cara Penggunaan</b></p>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    Pilih file yang akan digunakan (harus berupa .docx).
  </li>

  <li class="list-group-item">
    Pilih panjang dari hasil rangkuman.
  </li>

  <li class="list-group-item">Klik tombol submit.</li>
</ul>
{% endblock sidebar %}
