{% extends "layout.html" %} {% block content %}

<div class="card mb-4">
  <div class="card-body">
    <p>
      <b>Before</b>
      <span class="badge badge-success"
        >{{ real_document_length }} Paragraf</span
      >
    </p>

    {% for paragraph in real_document %}
    <p class="text-justify">{{ paragraph }}</p>
    {% endfor %}
  </div>
</div>

{% endblock content %} {% block sidebar %}
<p>
  <b>After</b>
  <span class="badge badge-success"
    >{{ summary_document_length }} Paragraf</span
  >
</p>

{% for paragraph in document_result %}
<p class="text-justify">{{ paragraph }}</p>
{% endfor %} {% endblock sidebar %}
